    @import url('https://fonts.googleapis.com/css2?family=Miniver&family=Poppins:ital,wght@0,400;0,500;0,700;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
/* Colores */
--white-color:#fff;
--dark-color:#3b3838;
--primary-color:#080808;
--secondary-color:#f3961c;
--light-pink-color:#faf4f5;
--medium-gray-color:#ccc;
--azul-color: #2c3dcf;

/* Font size */
--font-size-s: 0.9rem;
--font-size-n: 1rem;
--font-size-m: 1.12rem;
--font-size-l: 1.5rem;
--font-size-ls: 1.6rem;
--font-size-lm: 1.7rem;
--font-size-xl: 2rem;
--font-size-xxl: 2.3rem;

/* Font Weight */
--font-weight-normal: 400;
--font-weight-medium: 500;
--font-weight-semibold: 600;
--font-weight-bold: 700;

/* Border radius */
--border-radius-s: 8px;
--border-radius-m: 30px;
--border-radius-circle: 50%;

/* Site max width */
--site-max-width: 1600px;
}

html {
    scroll-behavior: smooth;
}

/* Stylings for whole site */
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/*ESTILO BOTON GENERAL*/
button {
    cursor: pointer;
    border: none;
    background: none;
}
/* FIN ESTILO BOTON GENERAL*/

img {
    width: 100%;
}


/* BOTON-VIBRACION */
.btn { 
    position: relative;
    text-decoration: none;
    color:red;
    transition: color 350ms ease-in-out, background-color 350ms ease-in-out;
    animation: bouncy 3s infinite linear;
}

@keyframes bouncy {
    0%, 40% { top: 0px; }
    43% { top: -15px; }
    46% { top: 0px; }
    48% { top: -7px; }
    50% { top: 0px; }
    100% { top: 0px; }
}
/* FIN BOTON-VIBRACION */

/* Margen entre Banner a navbar */
main{
padding-top: 58px;
}   
/* FIN Margen entre Banner a navbar */

/*CONTROLA DIV GENERAL*/
.section-content {
    margin: 0 auto;
    padding: 0 20px;
    max-width: var(--site-max-width);
}
/*FIN CONTROLA DIV GENERAL*/


/*CONTROLA LOS SUBTITULOS GENERAL*/
.section-title {
    text-align: center;
    padding-top: 70px;
    padding-bottom: 5px;
    text-transform: uppercase;
    font-size: var(--font-size-xl);
}

.section-title2 {
    text-align: center;
    padding-top: 70px;
    padding-bottom: 5px;
    
}


.section-title::after {    /*CONTRALA LINEA AZUL DE TITULOS*/
    content: "";
    width: 50px;
    height: 5px;
    display: block;
    margin: 10px auto 0;
    border-radius: var(--border-radius-s);
    background: blue;
}
/* FIN CONTROLA LOS SUBTITULOS GENERAL*/






/* NAV BAR MENU */
header {
    position: fixed;
    width: 100%;
    z-index: 5;
    background: black ;
}

header .navbar {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
}

/* LOGO NAV */
.claselogo .nav-logo{ /* Controla el logotipo */
    display: flex;
    align-items: center;
}

.claselogo .nav-logo img {
    height: 55px;
    width: 220px;
    /* height: 50px;
    width: 50px; */
    margin-right: 10px;
}
/* FIN LOGO NAV */

.navbar .nav-logo .logo-text {
    color: var(--white-color);
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-semibold);
}

.navbar .nav-menu {
    display: flex;
    gap: 5px;
}

.navbar .nav-menu .nav-link {
    padding: 7px 18px;
    color: var(--white-color);
    font-size: 15px;
    border-radius: 1.1rem;
    transition: 0.3s ease;
}

.navbar .nav-menu .nav-link:hover {
    color: blue;
    background: white;
}

.navbar :where(#menu-close-button, #menu-open-button) {/*control X (cerrar de menu celular)*/
    display: none;
    color: white;
}
/* FIN NAV BAR MENU */

/* Hero Section styling */
.hero-section { 
    
 background-image: url(images/fondos/fondo11.jpg);
}

.hero-section .section-content {
    display: flex;
    align-items: center;
    min-height: 100vh;
    color: var(--white-color);
    justify-content: space-between;
}

.hero-section .hero-details .title {
    font-size: var(--font-size-xxl);
    color: var(--secondary-color);
    font-family: "Roboto", sans-serif; 
}

.hero-section .hero-details .subtitle {
    margin-top: 8px;
    max-width: 70%;
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-semibold);
}

.hero-section .hero-details .description {
    max-width: 70%;
    margin: 24px 0 40px;
    font-size: var(--font-size-m);
}

.hero-section .hero-details .buttons {
    display: flex;
    gap: 23px;
}

.hero-section .hero-details .button {
    padding: 10px 26px;
    border: 2px solid transparent;
    color: var(--primary-color);
    border-radius: var(--border-radius-s);
    background: var(--secondary-color);
    font-weight: var(--font-weight-medium);
    transition: 0.3s ease;
}

.hero-section .hero-details .button:hover, .hero-section .hero-details .contact-us {
    color: var(--white-color);
    border-color: var(--white-color);
    background: transparent;
}

.hero-section .hero-details .contact-us:hover {
    color: var(--primary-color);
    border-color: var(--secondary-color);
    background: var(--secondary-color);
}

.hero-section .hero-image-wrapper {
    max-width: 400px;
    margin-right: 30px;
}

/* About section styling */
.about-section {
    padding: 120px 0;
    background: white;
}

.about-section .section-content {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
}

.about-section .about-image-wrapper .about-image {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: var(--border-radius-circle);
}

.about-section .about-details .section-title {
    padding: 0;
}

.about-section .about-details {
    max-width: 50%;
}

.about-section .about-details .text {
    line-height: 30px;
    margin: 50px 0 30px;
    text-align: center;
    font-size: var(--font-size-m);
}

.about-section .about-details .renglon {
     text-align: center;
}

.about-section .about-details .renglon2 {
     text-align: center;
     line-height: 2.8;
}

.about-section .social-link-list {
    display: flex;
    gap: 25px;
    justify-content: center;
}

.about-section .social-link-list .social-link {
    color: var(--primary-color);
    font-size: var(--font-size-l);
    transition: 0.2s ease;
}

.about-section .social-link-list .social-link:hover {
    color: blue;
}

/* Menu section styling */
.menu-section {
    color: white;
    background: rgb(48, 47, 47);
    padding-bottom: 40px;
}

.menu-section .menu-list {
    display: flex;
    flex-wrap: wrap;
    gap: 110px;
    align-items: center;
    justify-content: space-between;
}

.menu-section .menu-list .menu-item {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    width: calc(100% / 3 - 110px);
}

.menu-section .menu-list .menu-item .menu-image {
    max-width: 83%;
    aspect-ratio: 1;
    margin-bottom: 15px;
    object-fit: contain;
}

.mwnu-section .menu.list .menu-item .name{
    margin: 12px 0;
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-semibold);
}

.menu-section .menu-list .menu-item .text {
    font-size: var(--font-size-m);
}


/* BANNER */
.caja-banner-principal{
    /* background-color: yellow; */
    width: 100%;
    max-width: 1600px; /*control ancho monitores grandes*/
    margin: 0.5px auto;
    display: flex;
    gap: 20px;
    /* min-height: 100vh; verificar su uso */
/*    justify-content: space-between;*/
}

.secundario img{
    display: none;
}
.izquierda{
    margin: 14px auto auto 0px;
    width: 100%;
    min-width: 320px;
    max-width: 1600px;
    height: auto;
    position: relative;
}

.botoncat{
    position: absolute;
    top: 50%;
    left: 50%;
}

.derecha{
    width: 30rem;
    height: auto;
    padding-top: 0.2rem;
    padding-bottom: 0.3rem;
    /*controla tamaño de poster derecho*/
}

.caja-banner-principal .izquierda img{
    width: 100%;
    /* height: 100%    ; */
    min-width: 320px;
     height: auto;
    object-fit: cover;
    border-radius: 0.5rem;
}

.caja-banner-principal .derecha img{
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
    /* display: none; */
}
/* FIN BANNER */






.testimonials-section .slider-wrapper {
    overflow: hidden;
    /* margin: 0 60px 50px; */
}

.testimonials-section .testimonial {
    user-select: none;
    display: flex;
    /* padding: 35px; */
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.testimonials-section .testimonial .user-image {
    width: 350px;
    height: 500px;
    object-fit: cover;
    margin-bottom: 25px;
    border-radius: 1rem;
}

.testimonial-section .testimonial .name {
    margin-bottom: 16px;
    font-size: var(--font-size-m);
}

.testimonials-section .testimonial .feedback {
    line-height: 25px;
}

.testimonials-section .swiper-pagination-bullet {/*TAMAÑO DE BOLITAS*/
    width: 12px;
    height: 12px;
    opacity: 1;
    /* background: blue; */
}

.testimonials-section .swiper-slide-button {
    margin-top:98px;
    color: blue;
    transition: 0.3s ease;
}

.testimonials-section .swiper-slide-button:hover {
    color: black;
}








/*CATALOGO*/
#call-to-action {
background-image: url("images/catalogo/1.jpg");
background-size: cover;      /* ajusta la imagen */
background-position: center; /* centra */
background-repeat: no-repeat; 
padding: 30px 0;
align-items: center;
text-align: center;
margin: auto;
margin-top: 1.5rem;
margin-bottom: 1.5rem;
text-align: center;
/* padding-top: 70px; */
padding-top: 40px;
padding-bottom: 40px;
/*text-transform: uppercase;*/
/* font-size: var(--font-size-xl); */
background-color:blue;
color: white;
max-width: 1600PX;

}

#call-to-action h3 {
  color: #fff;
  font-size: 23px;
  font-weight: 700;
}

#call-to-action p {
  color: #fff;
}

#call-to-action .cta-btn {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 9px 28px;
  border-radius: 25px;
  transition: 0.5s;
  margin-top: 10px;
  border: 2px solid blue;
  background-color: blue;
  color: white;
}

#call-to-action .cta-btn:hover { /*color boton catalogo*/
  background:white;
  border: 2px solid white;
  color: blue;
}
/*FIN CATALOGO*/


@keyframes spin{
    from {translate: 0;}
    to {translate: -100%}
}
/* FIN CARRUSEL SERVICIOS */

/* Gallery section styling */
.gallery-section {
    padding: 50px 0 100px;
}

.gallery-section .gallery-list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.gallery-section .gallery-list .gallery-item {
    overflow: hidden;
    border-radius: var(--border-radius-s);
    width: calc(100% / 3 - 32px);
}

.gallery-section .gallery-item .gallery-image {
    width: 100%;
    height: 100%;
    cursor: zoom-in;
    transition: 0.3s ease ;
    transform: scale(1.3); /*borrar quiza*/
}

/*GALLERY*/
.gallery__container img{
    width: 100%;
    
    height: 100%;
    border-radius: 1rem;
}

.gallery__container{
    width: 95%;
    max-width: 1600px;
    margin: 40px auto;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-auto-rows: 250px;
    gap: 15px;
}

/*FIN GALLERY*/


/* CONTACTO - Menu section */
.menu-section {
    color: black;
    background: white;
    padding-bottom: 40px;
    margin-top: 3rem;
}

.menu-section .menu-list {
    display: flex;
    flex-wrap: wrap;
    gap: 110px;
    align-items: center;
    justify-content: space-between;
}

.menu-section .menu-list .menu-item {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    width: calc(100% / 3 - 110px);
}

.menu-section .menu-list .menu-item .menu-image { /*tamaño imagen contacto*/
    max-width: 25%;
    aspect-ratio: 1;
    object-fit: contain;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.mwnu-section .menu.list .menu-item .name{
    margin: 12px 0;
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-semibold);
}

.menu-section .menu-list .menu-item .text {
    font-size: var(--font-size-m);
}

/* FIN CONTACTO - Menu section */



/* footer section styling */
.footer-section {
    padding: 20px 0; 
    background: black;
}

.footer-section .section-content {
    display: flex;        
    align-items: center;
    justify-content: space-between;
}

.footer-section :where(.copyright-text, .social-link, .policy-link) {
    color: var(--white-color);
    transition: 0.2s ease;
}

.footer-section .social-link-list {
    display: flex;
    gap: 25px;
}
.footer-section .social-link-list .social-link {
    font-size: var(--font-size-l);
}


.footer-section .social-link-list .social-link:hover, .footer-section .policy-text .policy-link:hover {
    color: var(--secondary-color);
}

.footer-section .policy-text .separator {
    margin: 0 5px;
    color: var(--white-color);
}


/* footer section styling */
.footer-section {
    padding: 15px 0; 
    background: black;
}

.footer-section .section-content {
    display: flex;        
    align-items: center;
    justify-content: space-between;
}

.footer-section :where(.copyright-text, .social-link, .policy-link) { /*SI*/
    color: var(--white-color);
    transition: 0.2s ease;
}

.footer-section a{ /*SI*/
    font-size: 1.1rem;
}

.footer-section .social-link-list .social-link {
    font-size: var(--font-size-l);
}


.footer-section .social-link-list .social-link:hover, .footer-section .policy-text .policy-link:hover {/*SI*/
    color: rgb(8, 8, 182);
}

.footer-section .footer-center{
    display: flex;
  flex-direction: column; /* coloca los elementos uno debajo del otro */
  align-items: center;   /* centra horizontalmente */
  justify-content: center; /* centra verticalmente si el footer tiene altura fija */
  text-align: center;
}

/* FIN DOCUMENTO HTML */ /* FIN DOCUMENTO HTML */ /* FIN DOCUMENTO HTML */

/* RESPONSIVE PANTALLA HASTA 901px 1024px*/
@media screen and (max-width: 1024px) {
    .menu-section .menu-list {
    gap: 60px
    }
    .menu-section .menu-list .menu-item {
    width: calc(100% / 3 - 60px);
    }
}

/* RESPONSIVE TABLET HASTA 640px A 900px */
@media screen and (max-width: 900px) {
    :root {
    --font-size-m: 1rem;
    --font-size-l: 1.3rem;
    --font-size-xl: 1.5rem;
    --font-size-ls: 1.6rem;
    --font-size-lm: 1.7rem;
    --font-size-xxl: 1.8rem;
    }
     
    body.show-mobile-menu header::before { /*apariencia transparente*/
        content: "";
        position: fixed;
        left: 0;
        top:0;
        height: 100%;
        width: 100%;
        backdrop-filter: blur(5px);
        background: rgba(0, 0, 0, 0.2);
    }

    .navbar :where(#menu-close-button, #menu-open-button) {
       display: block;
       font-size: var(--font-size-l);
    }

    .navbar #menu-close-button {
        position: absolute;
        right: 30px;
        top: 30px;
        color: black;
    }

    .navbar #menu-open-button {
        color:white;
    }

    .navbar .nav-menu {/*menu celular*/
        display: block;
        position: fixed;
        left: -300px;
        top: 0;
        width: 300px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: left;
        padding-top: 100px;
        background: white;
        transition: left 0.2s ease;
    }

    body.show-mobile-menu .navbar .nav-menu {
    left: 0;
    }

    .navbar .nav-menu .nav-link {/*color, tamaño letra menu celular*/
        color: black;
        display: block;
        margin-top: 17px;
        font-size: var(--font-size-m);
        
    }

    
/* CENTRAR IMAGEN DERECHA */
.caja-banner-principal .derecha{
    justify-content: center;  /* Centra horizontalmente */
    align-items: center;      /* Centra verticalmente */
   margin: 0 auto;
   width: 20rem; /*  */ 
   
}

/* FIN CENTRAR IMAGEN DERECHA */



    .hero-section .section-content {
        gap: 50px;
        text-align: center;
        padding: 30px 20px 20px;
        flex-direction: column-reverse;
        justify-content: center;
    }

    .hero-section .hero-details :is(.subtitle, .description), .about-section  .about-details, .contact-section .contact-form {
        max-width: 100%; 
    }

    .hero-section .hero-details .buttons {
        justify-content: center;
    }

    .hero-section .hero-image-wrapper {
        max-width: 270px;
        margin-right: 0;
    }

    .banner-principal-section .caja-banner-principal{
    display: block;
}




/* .hero-section{
    display: block;
} */
.about-section .section-content {
    
    flex-direction: column-reverse;
}

.about-section .about-image-wrapper .about-image {
    width: 100%;
    height: 100%;
    max-width: 250px;
    aspect-ratio: 1 ;
}

.menu-section .menu-list {
    gap: 30px;
}

.menu-section .menu-list .menu-item {
    width: calc(100% / 2 - 30px);
}

.menu-section .menu-list .menu-item .menu-image {
    max-width: 200px;
}

.gallery-section .gallery-list {
    gap: 30px;
}

.gallery-section .gallery-list .gallery-item {
    width: calc(100% / 2 - 30px);
}

.contact-section .section-content {
    align-items: center;
    flex-direction: column-reverse;
}
}

/* RESPONSIVE CELULAR HASTA 640px */
@media screen and (max-width: 640px) {
  
    .menu-section .menu-list {
        gap: 60px;
    }

    .menu-section .menu-list .menu-item, .gallery-section .gallery-list .gallery-item {
        width: 100%;
    }

    .izquierda img {
        display: none;
    }

    .secundario img {
        display: block;
    };

    .testimonials-section .slider-wrapper {
        margin: 0 0 30px;
    }

    /* Desaparece los botones slider en modo celular */
    .testimonials-section .swiper-slide-button {
    display: none;
}
    /* FIN Desaparece los botones slider en modo celular */

.menu-section .menu-list .menu-item .menu-image { /*tamaño imagen contacto*/
    max-width: 25%;
    aspect-ratio: 1;
    object-fit: contain;
    margin-top: 1rem;
    margin-bottom: 2rem;
}


    .footer-section .section-content {
        flex-direction: column;
        gap: 20px;
    }

}

